package ${modulePackage}.${packageEntity};

import ${modulePackage}.${packagePO}.${poClassName};

/**
 * ${codeName} PO 类的扩展类
 *
 * @author  ${author}
 * @date    ${date}
*/
##@JsonSerialize(include= JsonSerialize.Inclusion.NON_NULL)
@javax.persistence.Table(name = "${tableName}")
public class ${className} extends ${poClassName}<${className}> {

    // 扩展字段，一对一对象等。字段上加 @Transient 注解

}
