package ${modulePackage}.${packagePO};


/**
 * ${codeName} PO 枚举
 *
 * @author  ${author}
 * @date    ${date}
 */
##@JsonSerialize(include= JsonSerialize.Inclusion.NON_NULL)
public enum ${enumClassName} {
    // ${columnComment}
#foreach($item in $!{enumColumnDataList})
    $item.name,
#end

}
