package ${modulePackage}.${packagePO};

import javax.persistence.Table;
import javax.persistence.Column;

${importBaseEntity}

/**
 * ${codeName} PO
 *
 * @author  ${author}
 */
##@JsonSerialize(include= JsonSerialize.Inclusion.NON_NULL)
@Table(name = "${tableName}")
public class ${poClassName}<T extends ${poClassName}<T>> ${extendsBaseEntity} {
${fieldList}
}
