package ${modulePackage}.${packageService};

import com.github.yt.mybatis.service.IBaseService;
import ${modulePackage}.${packageEntity}.${className};


/**
 * ${codeName}服务层
 *
 * @author  ${author}
 * @date    ${date}
 */
public interface ${replaceSuffixClassName}Service extends IBaseService<${className}> {


}
