package ${modulePackage}.${packageService}.impl;

import com.github.yt.mybatis.service.BaseService;
import ${modulePackage}.${packageDao}.${replaceSuffixClassName}Mapper;
import ${modulePackage}.${packageEntity}.${className};
import ${modulePackage}.${packageService}.${replaceSuffixClassName}Service;

import javax.annotation.Resource;

import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * ${codeName}服务层实现类
 *
 * @author  ${author}
 * @date    ${date}
 */
@Service("${replaceSuffixLowerName}Service")
@Transactional(rollbackFor = Throwable.class)
public class ${replaceSuffixClassName}ServiceImpl extends BaseService<${className}> implements ${replaceSuffixClassName}Service {

    @Resource
    private ${replaceSuffixClassName}Mapper mapper;

}
